<!--
  ~
  ~ Copyright (c) 2021 Melvin Jones Repol (mrepol742.github.io). All rights reserved.
  ~
  ~ License under the GNU General Public License, Version 3.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.gnu.org/licenses/gpl-3.0.en.html
  ~
  ~ Unless required by the applicable law or agreed in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:a="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mrepol742.webvium"
    a:installLocation="internalOnly">

    <queries />
    <supports-screens
        a:anyDensity="true"
        a:largeScreens="true"
        a:normalScreens="true"
        a:resizeable="true"
        a:smallScreens="true"
        a:xlargeScreens="true" />

    <uses-permission a:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission a:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission a:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission a:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission a:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission a:name="android.permission.BLUETOOTH" />
    <uses-permission a:name="android.permission.CAMERA" />
    <uses-permission a:name="android.permission.CALL_PHONE" />
    <uses-permission a:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission a:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission a:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission a:name="android.permission.FLASHLIGHT" />
    <uses-permission a:name="android.permission.INTERNET" />
    <uses-permission a:name="android.permission.MICROPHONE" />
    <uses-permission a:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission a:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission a:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission a:name="android.permission.RECORD_AUDIO" />
    <uses-permission a:name="android.permission.READ_PHONE_STATE" />
    <uses-permission a:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission a:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission a:name="android.permission.VIBRATE" />
    <uses-permission
        a:name="android.permission.WRITE_EXTERNAL_STORAGE"
        a:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission a:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission a:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission a:name="android.permission.WAKE_LOCK" />
    <uses-permission a:name="android.permission.NFC" />
    <permission a:name="com.mrepol742.webvium.LEGENDS" a:protectionLevel="signature"/>
    <uses-permission a:name="com.mrepol742.webvium.LEGENDS"/>

    <uses-feature
        a:name="android.hardware.camera"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.camera.autofocus"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.microphone"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.location"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.location.network"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.location.gps"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.wifi"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.nfc"
        a:required="false" />

    <application
        a:name="com.mrepol742.webvium.APPL"
        a:allowBackup="false"
        a:appCategory="productivity"
        a:hasFragileUserData="true"
        a:icon="@mipmap/c"
        a:label="@string/p20"
        a:largeHeap="true"
        a:manageSpaceActivity="com.mrepol742.webvium.MANG"
        a:roundIcon="@mipmap/c"
        a:supportsRtl="true"
        a:theme="@style/f"
        a:usesCleartextTraffic="true"
        tools:targetApi="30">

        <!-- Bug Report -->
        <activity
            a:name="com.mrepol742.webvium.FEED"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:taskAffinity="com.mrepol742.webvium.task.FED"
            a:process=":fed"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.BUG_REPORT" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- DOWNLOADS -->
        <activity
            a:name="com.mrepol742.webvium.DOWN"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="adjustResize" />

        <!-- HISTORY -->
        <activity
            a:name="com.mrepol742.webvium.HIST"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="adjustResize" />
        <!-- SEARCH -->
        <activity
            a:name="com.mrepol742.webvium.SEAR"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="com.mrepol742.webvium.intent.action.PASTE" />

                <category a:name="com.mrepol742.webvium.intent.category.LEGENDS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.mrepol742.webvium.intent.action.SEARCH" />

                <category a:name="com.mrepol742.webvium.intent.category.LEGENDS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!-- SCREENSHOT -->
        <activity
            a:name="com.mrepol742.webvium.SCRE"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:taskAffinity="com.mrepol742.webvium.task.SCT"
            a:windowSoftInputMode="stateHidden" />
        <!-- TERMS.. / PRIVACY.. -->
        <activity
            a:name="com.mrepol742.webvium.TERM"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" />
        <!-- EXPRIREMENT-->
        <activity
            a:name="com.mrepol742.webvium.EXPI"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" />  <!-- backup auto immport -->
        <activity
            a:name="com.mrepol742.webvium.BACK0"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:excludeFromRecents="true"
            a:launchMode="singleTask"
            a:theme="@style/m"
            a:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.bac" />
                <data a:pathPattern=".*..*.bac" />
                <data a:pathPattern=".*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.bac" />
            </intent-filter>
        </activity>
        <!-- DATABASE ERROR -->
        <!-- ASSISTANT -->
        <activity
            a:name="com.mrepol742.webvium.ASSI"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:excludeFromRecents="true"
            a:launchMode="singleTask"
            a:taskAffinity="com.mrepol742.webvium.task.ASY"
            a:theme="@style/m"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.ASSIST" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.mrepol742.webvium.intent.action.ASSIST" />

                <category a:name="com.mrepol742.webvium.intent.category.LEGENDS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- SETTINGS LAUNCHER -->
        <activity
            a:name="com.mrepol742.webvium.SETT"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <!-- TEXT SIZE SETTINGS -->
        <activity
            a:name="com.mrepol742.webvium.TEXT"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" />  <!-- VIDEO POSTER IMAGE -->
        <activity
            a:name="com.mrepol742.webvium.VIDE"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" /> <!-- BOOKMARK -->
        <activity
            a:name="com.mrepol742.webvium.BOOK"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection|screenLayout"
            a:exported="false"
            a:windowSoftInputMode="adjustResize" /> <!-- SOURCE CODE -->
        <activity
            a:name="com.mrepol742.webvium.TOOL"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:windowSoftInputMode="adjustResize">
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.html" />
                <data a:pathPattern=".*..*.html" />
                <data a:pathPattern=".*..*..*.html" />
                <data a:pathPattern=".*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*.htm" />
                <data a:pathPattern=".*..*.htm" />
                <data a:pathPattern=".*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*.xhtml" />
                <data a:pathPattern=".*..*.xhtml" />
                <data a:pathPattern=".*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.HTML" />
                <data a:pathPattern=".*..*.HTML" />
                <data a:pathPattern=".*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*.HTM" />
                <data a:pathPattern=".*..*.HTM" />
                <data a:pathPattern=".*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*.XHTML" />
                <data a:pathPattern=".*..*.XHTML" />
                <data a:pathPattern=".*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.WEB_SEARCH" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme=""
                    tools:ignore="AppLinkUrlError" />
                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.nfc.action.NDEF_DISCOVERED" />

                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.nfc.action.NDEF_DISCOVERED" />

                <category a:name="android.intent.category.DEFAULT" />
                <data a:mimeType="text/plain" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:scheme="about" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:mimeType="text/html" />
                <data a:mimeType="text/plain" />
                <data a:mimeType="application/xhtml+xml" />
                <data a:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme="http"
                    a:host="*" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme="https"
                    a:host="*" />
            </intent-filter>
        </activity>
        <!-- WELCOME SCREEN -->
        <activity
            a:name="com.mrepol742.webvium.WELC"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" /> <!-- MANAGE SPACE -->
        <activity
            a:name="com.mrepol742.webvium.MANG"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:taskAffinity="com.mrepol742.webvium.task.MAE"
            a:windowSoftInputMode="adjustResize" /> <!-- SETTINGS HEADERS -->
        <activity
            a:name="com.mrepol742.webvium.SETT0"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action a:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- MAIN ACTIVITY -->
        <activity
            a:name="com.mrepol742.webvium.MAIN"
            a:alwaysRetainTaskState="true"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection|screenLayout|locale"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.html" />
                <data a:pathPattern=".*..*.html" />
                <data a:pathPattern=".*..*..*.html" />
                <data a:pathPattern=".*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*.htm" />
                <data a:pathPattern=".*..*.htm" />
                <data a:pathPattern=".*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*.xhtml" />
                <data a:pathPattern=".*..*.xhtml" />
                <data a:pathPattern=".*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.url" />
                <data a:pathPattern=".*..*.url" />
                <data a:pathPattern=".*..*..*.url" />
                <data a:pathPattern=".*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*.desktop" />
                <data a:pathPattern=".*..*.desktop" />
                <data a:pathPattern=".*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.desktop" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.HTML" />
                <data a:pathPattern=".*..*.HTML" />
                <data a:pathPattern=".*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*.HTM" />
                <data a:pathPattern=".*..*.HTM" />
                <data a:pathPattern=".*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*.XHTML" />
                <data a:pathPattern=".*..*.XHTML" />
                <data a:pathPattern=".*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
            </intent-filter>
            <intent-filter>
                <category a:name="android.intent.category.LAUNCHER" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.APP_BROWSER" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:scheme="about" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.mrepol742.webvium.intent.action.LAUNCH" />

                <category a:name="com.mrepol742.webvium.intent.category.LEGENDS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:mimeType="text/html" />
                <data a:mimeType="text/plain" />
                <data a:mimeType="application/xhtml+xml" />
                <data a:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter a:label="@string/x15">
                <action a:name="android.intent.action.MEDIA_SEARCH" />

                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter a:label="@string/x15">
                <action a:name="android.intent.action.SEARCH" />

                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter a:label="@string/x15">
                <action a:name="android.speech.action.VOICE_SPEECH_RESULTS" />

                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter a:label="@string/x15">
                <action a:name="android.intent.action.WEB_SEARCH" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme=""
                    tools:ignore="AppLinkUrlError" />
                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.nfc.action.NDEF_DISCOVERED" />

                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.nfc.action.NDEF_DISCOVERED" />

                <category a:name="android.intent.category.DEFAULT" />
                <data a:mimeType="text/plain" />
            </intent-filter>
            <intent-filter a:label="@string/x15">
                <action a:name="android.intent.action.SEND" />

                <category a:name="android.intent.category.DEFAULT" />

                <data a:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.mrepol742.webvium.intent.action.PASTE_SEARCH" />

                <category a:name="com.mrepol742.webvium.intent.category.LEGENDS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme="http"
                    a:host="mrepol742.github.io"
                    a:pathPattern="/webvium" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme="http"
                    a:host="mrepol742.github.io"
                    a:pathPattern="/PROJECT-WEBVIUM" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme="https"
                    a:host="mrepol742.github.io"
                    a:pathPattern="/webvium" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme="https"
                    a:host="mrepol742.github.io"
                    a:pathPattern="/PROJECT-WEBVIUM" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme="http"
                    a:host="*" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme="https"
                    a:host="*" />
            </intent-filter>
        </activity>
        <!-- LOGCAT -->
        <activity
            a:name="com.mrepol742.webvium.LOGC"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:taskAffinity="com.mrepol742.webvium.task.LOT"
            a:process=":lot"
            a:windowSoftInputMode="stateHidden" />

        <!-- VOICE SPEECH RECOGNITION -->
        <activity
            a:name="com.mrepol742.webvium.VOIC"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" />
        <!-- PRETEND MODE -->
        <activity
            a:name="com.mrepol742.webvium.PRET"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" /> <!-- PRETEND MODE LAUNCHER -->
        <!-- LOCK INTERFACE -->
        <activity
            a:name="com.mrepol742.webvium.LOCK"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" />

        <!-- CREDITS -->
        <activity
            a:name="com.mrepol742.webvium.CRED"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" />

        <activity-alias
            a:name="com.mrepol742.webvium.activity.alias.MAY"
            a:enabled="true"
            a:exported="true"
            a:targetActivity="com.mrepol742.webvium.MAIN">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />

                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                a:name="android.app.shortcuts"
                a:resource="@xml/s" />
        </activity-alias>

        <activity-alias
            a:name="com.mrepol742.webvium.activity.alias.LOGC"
            a:enabled="@bool/wv"
            a:exported="true"
            a:label="@string/x54"
            a:targetActivity="com.mrepol742.webvium.LOGC">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />

                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            a:name="com.mrepol742.webvium.activity.alias.EXPI"
            a:enabled="@bool/wv"
            a:exported="true"
            a:label="@string/x60"
            a:targetActivity="com.mrepol742.webvium.EXPI">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />

                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <activity-alias
            a:name="com.mrepol742.webvium.activity.alias.PRE"
            a:enabled="false"
            a:exported="true"
            a:label="@string/j35"
            a:targetActivity="com.mrepol742.webvium.PRET">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />

                <category a:name="android.intent.category.LAUNCHER" />
                <category a:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>

        </activity-alias>

        <meta-data
            a:name="android.webkit.WebView.MetricsOptOut"
            a:value="true" />

        <receiver a:name="com.mrepol742.webvium.MYPA">
            <intent-filter>
                <action a:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            a:name="com.mrepol742.webvium.BOOT"
            a:exported="true"
            a:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action a:name="android.intent.action.BOOT_COMPLETED" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            a:name="com.mrepol742.webvium.DEVI"
            a:label="@string/p20"
            a:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                a:name="android.app.device_admin"
                a:resource="@xml/z" />
            <intent-filter>
                <action a:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


        <service
            a:name="com.mrepol742.webvium.SAVE"
            a:exported="false"
            a:foregroundServiceType="dataSync"
            a:label="@string/l4"
            a:process=":sav" />

        <service
            a:name="com.mrepol742.webvium.QUIC"
            a:exported="false"
            a:label="@string/l33"
            a:process=":qui" />

        <service
            a:name="com.mrepol742.webvium.DOWN0"
            a:exported="false"
            a:foregroundServiceType="dataSync"
            a:label="@string/n15"
            a:process=":dow" />

        <service
            a:name="com.mrepol742.webvium.CLIP"
            a:exported="false"
            a:label="@string/x8"
            a:process=":cli" />

        <service
            a:name="com.mrepol742.webvium.NOTI"
            a:exported="false"
            a:label="@string/m6"
            a:process=":not" />

        <service
            a:name="com.mrepol742.webvium.FLOA"
            a:exported="false"
            a:label="@string/l32"
            a:process=":flo" />

        <service
            a:name="com.mrepol742.webvium.UPDA"
            a:label="@string/n21"
            a:process=":upd"
            tools:ignore="ExportedService" />

        <service
            tools:ignore="ExportedService"
            a:name="com.mrepol742.webvium.BACK"
            a:label="@string/n22" />

        <service
            a:name="com.mrepol742.webvium.UPDA0"
            a:exported="false"
            a:label="@string/n21"
            a:process=":upd" />

    </application>

</manifest>