<!--
  ~
  ~
  ~
  ~ DROID MJ Property || Confidential
  ~
  ~
  ~
  ~
  ~
  ~
  ~
  ~
  ~
  ~
  ~
  ~
  ~
  -->

<manifest xmlns:a="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.droidmj.webvium"
    a:installLocation="internalOnly">

    <supports-screens
        a:anyDensity="true"
        a:largeScreens="true"
        a:normalScreens="true"
        a:resizeable="true"
        a:smallScreens="true"
        a:xlargeScreens="true" />

    <uses-permission a:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission a:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission a:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission a:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission a:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission a:name="android.permission.BLUETOOTH" />
    <uses-permission a:name="android.permission.CAMERA" />
    <uses-permission a:name="android.permission.CALL_PHONE" />
    <uses-permission a:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission a:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission a:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission a:name="android.permission.FLASHLIGHT" />
    <uses-permission a:name="android.permission.INTERNET" />
    <uses-permission a:name="android.permission.MICROPHONE" />
    <uses-permission a:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission a:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission a:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission a:name="android.permission.RECORD_AUDIO" />
    <uses-permission a:name="android.permission.READ_PHONE_STATE" />
    <uses-permission a:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission a:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission a:name="android.permission.VIBRATE" />
    <uses-permission a:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission a:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission a:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission a:name="android.permission.WAKE_LOCK" />
    <uses-permission a:name="android.permission.NFC" />

    <uses-feature
        a:name="android.hardware.camera"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.camera.autofocus"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.microphone"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.location"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.location.network"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.location.gps"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.wifi"
        a:required="false" />
    <uses-feature a:name="android.hardware.nfc" a:required="false" />

    <application
        a:name=".APPL"
        a:allowBackup="false"
        a:appCategory="productivity"
        a:hasFragileUserData="true"
        a:icon="@mipmap/c"
        a:label="@string/p20"
        a:largeHeap="true"
        a:manageSpaceActivity=".MANG"
        a:roundIcon="@mipmap/c"
        a:supportsRtl="true"
        a:theme="@style/f"
        a:usesCleartextTraffic="true"
        tools:targetApi="30">
        <activity
            a:name=".A30"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection|screenLayout|locale"
            a:launchMode="singleTask" a:exported="false"
            a:windowSoftInputMode="stateHidden"/>

        <!-- Bug Report -->
        <activity
            a:name=".FEED"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:taskAffinity="com.droidmj.webvium.task.FED"
            a:process=":fed"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.BUG_REPORT" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- DOWNLOADS -->
        <activity
            a:name=".DOWN"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="adjustResize" />

        <!-- HISTORY -->
        <activity
            a:name=".HIST"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="adjustResize" />
        <!-- SEARCH -->
        <activity
            a:name=".SEAR"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="com.droidmj.webvium.intent.action.PASTE" />

                <category a:name="com.droidmj.webvium.intent.category.GENIUS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.droidmj.webvium.intent.action.SEARCH" />

                <category a:name="com.droidmj.webvium.intent.category.GENIUS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!-- SCREENSHOT -->
        <activity
            a:name=".SCRE"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:taskAffinity="com.droidmj.webvium.task.SCT"
            a:windowSoftInputMode="stateHidden" />
        <!-- TERMS.. / PRIVACY.. -->
        <activity
            a:name=".EULA"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" /> <!-- backup auto immport -->
        <activity
            a:name=".BACK0"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:excludeFromRecents="true"
            a:launchMode="singleTask"
            a:theme="@style/m"
            a:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.bac" />
                <data a:pathPattern=".*..*.bac" />
                <data a:pathPattern=".*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.bac" />
            </intent-filter>
        </activity>
        <!-- DATABASE ERROR -->
        <!-- ASSISTANT -->
        <activity
            a:name=".ASSI"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:excludeFromRecents="true"
            a:launchMode="singleTask"
            a:taskAffinity="com.droidmj.webvium.task.ASY"
            a:theme="@style/m"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.ASSIST" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.droidmj.webvium.intent.action.ASSIST" />

                <category a:name="com.droidmj.webvium.intent.category.GENIUS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- SETTINGS LAUNCHER -->
        <activity
            a:name=".SETT"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <!-- TEXT SIZE SETTINGS -->
        <activity
            a:name=".TEXT"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" />  <!-- VIDEO POSTER IMAGE -->
        <activity
            a:name=".VIDE"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" /> <!-- BOOKMARK -->
        <activity
            a:name=".BOOK"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection|screenLayout"
            a:exported="false"
            a:windowSoftInputMode="adjustResize" /> <!-- SOURCE CODE -->
        <activity
            a:name=".TOOL"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:windowSoftInputMode="adjustResize" >
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.html" />
                <data a:pathPattern=".*..*.html" />
                <data a:pathPattern=".*..*..*.html" />
                <data a:pathPattern=".*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*.htm" />
                <data a:pathPattern=".*..*.htm" />
                <data a:pathPattern=".*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*.xhtml" />
                <data a:pathPattern=".*..*.xhtml" />
                <data a:pathPattern=".*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.HTML" />
                <data a:pathPattern=".*..*.HTML" />
                <data a:pathPattern=".*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*.HTM" />
                <data a:pathPattern=".*..*.HTM" />
                <data a:pathPattern=".*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*.XHTML" />
                <data a:pathPattern=".*..*.XHTML" />
                <data a:pathPattern=".*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.WEB_SEARCH" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme=""
                    tools:ignore="AppLinkUrlError" />
                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.nfc.action.NDEF_DISCOVERED" />

                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.nfc.action.NDEF_DISCOVERED" />

                <category a:name="android.intent.category.DEFAULT" />
                <data a:mimeType="text/plain" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:scheme="about" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:mimeType="text/html" />
                <data a:mimeType="text/plain" />
                <data a:mimeType="application/xhtml+xml" />
                <data a:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter a:label="@string/h10"
                a:autoVerify="true">
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:host="*" />
            </intent-filter>
        </activity>
        <!-- WELCOME SCREEN -->
        <activity
            a:name=".WELC"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" /> <!-- MANAGE SPACE -->
        <activity
            a:name=".MANG"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:taskAffinity="com.droidmj.webvium.task.MAE"
            a:windowSoftInputMode="adjustResize" /> <!-- SETTINGS HEADERS -->
        <activity
            a:name=".SETT0"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action a:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action a:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- MAIN ACTIVITY -->
        <activity
            a:name=".MAIN"
            a:alwaysRetainTaskState="true"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection|screenLayout|locale"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize" >
            <intent-filter a:autoVerify="true">
                <action a:name="android.intent.action.VIEW"/>
                <category a:name="android.intent.category.BROWSABLE"/>
                <category a:name="android.intent.category.DEFAULT"/>
                <data a:scheme="http"/>
                <data a:scheme="https"/>
                <data a:host="mrepol742.github.io"/>
                <data a:pathPattern="/launch" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.html" />
                <data a:pathPattern=".*..*.html" />
                <data a:pathPattern=".*..*..*.html" />
                <data a:pathPattern=".*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*.htm" />
                <data a:pathPattern=".*..*.htm" />
                <data a:pathPattern=".*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*.xhtml" />
                <data a:pathPattern=".*..*.xhtml" />
                <data a:pathPattern=".*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.url" />
                <data a:pathPattern=".*..*.url" />
                <data a:pathPattern=".*..*..*.url" />
                <data a:pathPattern=".*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.url" />
                <data a:pathPattern=".*.desktop" />
                <data a:pathPattern=".*..*.desktop" />
                <data a:pathPattern=".*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.desktop" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.desktop" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.HTML" />
                <data a:pathPattern=".*..*.HTML" />
                <data a:pathPattern=".*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*.HTM" />
                <data a:pathPattern=".*..*.HTM" />
                <data a:pathPattern=".*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*.XHTML" />
                <data a:pathPattern=".*..*.XHTML" />
                <data a:pathPattern=".*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
            </intent-filter>
            <intent-filter>
                <category a:name="android.intent.category.LAUNCHER" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.APP_BROWSER" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:scheme="about" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.droidmj.webvium.intent.action.LAUNCH" />

                <category a:name="com.droidmj.webvium.intent.category.GENIUS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:mimeType="text/html" />
                <data a:mimeType="text/plain" />
                <data a:mimeType="application/xhtml+xml" />
                <data a:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter
                a:label="@string/x15">
                <action a:name="android.intent.action.MEDIA_SEARCH" />

                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                a:label="@string/x15">
                <action a:name="android.intent.action.SEARCH" />

                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                a:label="@string/x15">
                <action a:name="android.speech.action.VOICE_SPEECH_RESULTS" />

                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                a:label="@string/x15">
                <action a:name="android.intent.action.WEB_SEARCH" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data
                    a:scheme=""
                    tools:ignore="AppLinkUrlError" />
                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.nfc.action.NDEF_DISCOVERED" />

                <category a:name="android.intent.category.DEFAULT" />

                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.nfc.action.NDEF_DISCOVERED" />

                <category a:name="android.intent.category.DEFAULT" />
                <data a:mimeType="text/plain" />
            </intent-filter>
            <intent-filter
                a:label="@string/x15">
                <action a:name="android.intent.action.SEND" />

                <category a:name="android.intent.category.DEFAULT" />

                <data a:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />

                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />

                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:host="*" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.droidmj.webvium.intent.action.PASTE_SEARCH" />

                <category a:name="com.droidmj.webvium.intent.category.GENIUS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- LOGCAT -->
        <activity
            a:name=".LOGC"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:taskAffinity="com.droidmj.webvium.task.LOT"
            a:process=":lot"
            a:windowSoftInputMode="stateHidden"/>

        <!-- VOICE SPEECH RECOGNITION -->
        <activity
            a:name=".VOIC"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden"/>
        <!-- PRETEND MODE -->
        <activity
            a:name=".PRET"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" /> <!-- PRETEND MODE LAUNCHER -->
        <!-- LOCK INTERFACE -->
        <activity
            a:name=".LOCK"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" />

   <!-- CREDITS -->
        <activity
            a:name=".CRED"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" />

        <activity-alias
            a:name="com.droidmj.webvium.activity.alias.MAY"
            a:enabled="true"
            a:exported="true"
            a:targetActivity=".MAIN">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />

                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                a:name="android.app.shortcuts"
                a:resource="@xml/s" />
        </activity-alias>

        <activity-alias
            a:name="com.droidmj.webvium.activity.alias.LOGC"
            a:enabled="@bool/wv"
            a:exported="true"
            a:targetActivity=".LOGC">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />

                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <activity-alias
            a:name="com.droidmj.webvium.activity.alias.PRE"
            a:enabled="false"
            a:exported="true"
            a:label="@string/j35"
            a:targetActivity=".PRET">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
                <category a:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>

        </activity-alias>

        <meta-data
            a:name="android.webkit.WebView.MetricsOptOut"
            a:value="true" />

        <receiver
            a:name=".MYPA" >
            <intent-filter>
                <action a:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            a:name=".BOOT"
            a:exported="true"
            a:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action a:name="android.intent.action.BOOT_COMPLETED" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            a:name=".DEVI"
            a:label="@string/p20"
            a:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                a:name="android.app.device_admin"
                a:resource="@xml/z" />
            <intent-filter>
                <action a:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>



        <service
            a:name=".SAVE"
            a:exported="false"
            a:foregroundServiceType="dataSync"
            a:label="@string/l4"
            a:process=":sav" />

        <service
            a:name=".QUIC"
            a:exported="false"
            a:label="@string/l33"
            a:process=":qui" />

        <service
            a:name=".DOWN0"
            a:exported="false"
            a:foregroundServiceType="dataSync"
            a:label="@string/n15" 
            a:process=":dow" />

        <service
            a:name=".CLIP"
            a:exported="false"
            a:label="@string/x8" 
            a:process=":cli" />

        <service
            a:name=".NOTI"
            a:exported="false"
            a:label="@string/m6" 
            a:process=":not" />

        <service
            a:name=".FLOA"
            a:exported="false" 
            a:label="@string/l32"
            a:process=":flo"/>

        <service
            a:name=".UPDA"
            a:label="@string/n21" 
            a:process=":upd"
            tools:ignore="ExportedService"/>

        <service
            tools:ignore="ExportedService"
            a:name=".BACK"
            a:label="@string/n22"/>

        <service
            a:name=".DIAG"
            a:exported="false"
            a:label="@string/x53"
            a:process=":dia" />

        <service
            a:name=".UPDA0"
            a:exported="false"
            a:label="@string/n21"
            a:process=":upd" />

    </application>

</manifest>