<!--
  ~
  ~ Copyright (c) 2021 Melvin Jones Repol (mrepol742.github.io). All rights reserved.
  ~
  ~ License under the GNU General Public License, Version 3.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain changedTo copy of the License at
  ~
  ~     https://www.gnu.org/licenses/gpl-3.0.en.html
  ~
  ~ Unless required by the applicable law or agreed in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  ~ You also agree to give me your first child to,
  ~ immolate it to the devil when the summer solstice has changedTo full moon.
  -->

<manifest xmlns:a="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mrepol742.webvium"
    a:installLocation="auto">

    <supports-screens
        a:anyDensity="true"
        a:largeScreens="true"
        a:normalScreens="true"
        a:resizeable="true"
        a:smallScreens="true"
        a:xlargeScreens="true" />

    <uses-permission a:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission a:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission a:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission a:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission a:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission a:name="android.permission.CAMERA" />
    <uses-permission a:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission a:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission a:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission a:name="android.permission.INTERNET" />
    <uses-permission a:name="android.permission.MICROPHONE" />
    <uses-permission a:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission a:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission a:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission a:name="android.permission.RECORD_AUDIO" />
    <uses-permission a:name="android.permission.READ_PHONE_STATE" />
    <uses-permission a:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission a:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission a:name="android.permission.VIBRATE" />
    <uses-permission
        a:name="android.permission.WRITE_EXTERNAL_STORAGE"
        a:maxSdkVersion="28" />
    <uses-permission a:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature
        a:name="android.hardware.camera"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.camera.autofocus"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.microphone"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.location"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.location.network"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.location.gps"
        a:required="false" />
    <uses-feature
        a:name="android.hardware.wifi"
        a:required="false" />

    <application
        a:name="com.mrepol742.webvium.Appl"
        a:allowBackup="false"
        a:appCategory="productivity"
        a:hasFragileUserData="true"
        a:icon="@mipmap/c"
        a:label="@string/p20"
        a:largeHeap="true"
        a:manageSpaceActivity="com.mrepol742.webvium.Mana"
        a:roundIcon="@mipmap/c"
        a:supportsRtl="true"
        a:theme="@style/f"
        a:usesCleartextTraffic="true"
        tools:targetApi="30">

        <activity
            a:name="com.mrepol742.webvium.Down"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="adjustResize" />

        <activity
            a:name="com.mrepol742.webvium.Hist"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="adjustResize" />

        <activity
            a:name="com.mrepol742.webvium.Exce"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:theme="@style/m"
            a:windowSoftInputMode="adjustResize" />

        <activity
            a:name="com.mrepol742.webvium.Sear"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="com.mrepol742.webvium.intent.action.PASTE" />
                <category a:name="com.mrepol742.webvium.intent.category.GENIUS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.mrepol742.webvium.intent.action.SEARCH" />
                <category a:name="com.mrepol742.webvium.intent.category.GENIUS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            a:name="com.mrepol742.webvium.Scre"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:taskAffinity="com.mrepol742.webvium.task.SCT"
            a:windowSoftInputMode="stateHidden" />

        <activity
            a:name="com.mrepol742.webvium.Back0"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:excludeFromRecents="true"
            a:launchMode="singleTask"
            a:theme="@style/m"
            a:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.bac" />
                <data a:pathPattern=".*..*.bac" />
                <data a:pathPattern=".*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.bac" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.bac" />
            </intent-filter>

            <!--

            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.webv" />
                <data a:pathPattern=".*..*.webv" />
                <data a:pathPattern=".*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.webv" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.webv" />
            </intent-filter>

            -->
        </activity>

        <activity
            a:name="com.mrepol742.webvium.Back1"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:excludeFromRecents="true"
            a:launchMode="singleTask"
            a:theme="@style/m"
            a:windowSoftInputMode="stateHidden" />

        <activity
            a:name="com.mrepol742.webvium.Assi"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:excludeFromRecents="true"
            a:launchMode="singleTask"
            a:taskAffinity="com.mrepol742.webvium.task.ASY"
            a:theme="@style/m"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.ASSIST" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.mrepol742.webvium.intent.action.ASSIST" />
                <category a:name="com.mrepol742.webvium.intent.category.GENIUS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            a:name="com.mrepol742.webvium.Sett"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            a:name="com.mrepol742.webvium.Text"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" />

        <activity
            a:name="com.mrepol742.webvium.Vide"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" />

        <activity
            a:name="com.mrepol742.webvium.Book"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection|screenLayout"
            a:exported="false"
            a:windowSoftInputMode="adjustResize" />

        <activity
            a:name="com.mrepol742.webvium.Tool"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:windowSoftInputMode="adjustResize">
            <!--
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.WEB_SEARCH" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:scheme=""
                    tools:ignore="AppLinkUrlError" />
                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:scheme="about" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter a:label="@string/h10">
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:mimeType="text/html" />
                <data a:mimeType="text/plain" />
                <data a:mimeType="application/xhtml+xml" />
                <data a:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="*"
                    a:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="*"
                    a:scheme="https" />
            </intent-filter>
            -->
        </activity>

        <activity
            a:name="com.mrepol742.webvium.Mana"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:taskAffinity="com.mrepol742.webvium.task.MAE"
            a:windowSoftInputMode="adjustResize" />

        <activity
            a:name="com.mrepol742.webvium.Sett0"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            a:name="com.mrepol742.webvium.Webv"
            a:alwaysRetainTaskState="true"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection|screenLayout|locale"
            a:launchMode="singleTask"
            a:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.html" />
                <data a:pathPattern=".*..*.html" />
                <data a:pathPattern=".*..*..*.html" />
                <data a:pathPattern=".*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.html" />
                <data a:pathPattern=".*.htm" />
                <data a:pathPattern=".*..*.htm" />
                <data a:pathPattern=".*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.htm" />
                <data a:pathPattern=".*.xhtml" />
                <data a:pathPattern=".*..*.xhtml" />
                <data a:pathPattern=".*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.xhtml" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:scheme="file" />
                <data a:scheme="content" />
                <data a:mimeType="*/*" />
                <data a:host="*" />
                <data a:pathPattern=".*.HTML" />
                <data a:pathPattern=".*..*.HTML" />
                <data a:pathPattern=".*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTML" />
                <data a:pathPattern=".*.HTM" />
                <data a:pathPattern=".*..*.HTM" />
                <data a:pathPattern=".*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.HTM" />
                <data a:pathPattern=".*.XHTML" />
                <data a:pathPattern=".*..*.XHTML" />
                <data a:pathPattern=".*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
                <data a:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.XHTML" />
            </intent-filter>
            <intent-filter>
                <category a:name="android.intent.category.LAUNCHER" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.APP_BROWSER" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:scheme="about" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.mrepol742.webvium.intent.action.LAUNCH" />
                <category a:name="com.mrepol742.webvium.intent.category.GENIUS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.BROWSABLE" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:scheme="http" />
                <data a:scheme="https" />
                <data a:mimeType="text/html" />
                <data a:mimeType="text/plain" />
                <data a:mimeType="application/xhtml+xml" />
                <data a:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter a:label="@string/x15">
                <action a:name="android.intent.action.MEDIA_SEARCH" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter a:label="@string/x15">
                <action a:name="android.intent.action.SEARCH" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter a:label="@string/x15">
                <action a:name="android.speech.action.VOICE_SPEECH_RESULTS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter a:label="@string/x15">
                <action a:name="android.intent.action.WEB_SEARCH" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:scheme=""
                    tools:ignore="AppLinkUrlError" />
                <data a:scheme="http" />
                <data a:scheme="https" />
            </intent-filter>
            <intent-filter a:label="@string/x15">
                <action a:name="android.intent.action.SEND" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action a:name="com.mrepol742.webvium.intent.action.PASTE_SEARCH" />
                <category a:name="com.mrepol742.webvium.intent.category.GENIUS" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="mrepol742.github.io"
                    a:pathPattern="/webvium"
                    a:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="mrepol742.github.io"
                    a:pathPattern="/webview"
                    a:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="mrepol742.github.io"
                    a:pathPattern="/PROJECT-WEBVIUM"
                    a:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="webvium.github.io"
                    a:pathPattern="/"
                    a:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="samiunnafis.github.io"
                    a:pathPattern="/PROJECT-WEBVIUM"
                    a:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="mrepol742.github.io"
                    a:pathPattern="/webvium"
                    a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="mrepol742.github.io"
                    a:pathPattern="/PROJECT-WEBVIUM"
                    a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="mrepol742.github.io"
                    a:pathPattern="/webview"
                    a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="webvium.github.io"
                    a:pathPattern="/"
                    a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="samiunnafis.github.io"
                    a:pathPattern="/PROJECT-WEBVIUM"
                    a:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="*"
                    a:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <category a:name="android.intent.category.BROWSABLE" />
                <data
                    a:host="*"
                    a:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            a:name="com.mrepol742.webvium.Voic"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" />

        <activity
            a:name="com.mrepol742.webvium.Pret"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" />

        <activity
            a:name="com.mrepol742.webvium.Lock"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" />

        <activity
            a:name="com.mrepol742.webvium.Cred"
            a:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection|screenLayout|locale"
            a:exported="false"
            a:launchMode="singleTask"
            a:windowSoftInputMode="stateHidden" />

        <activity-alias
            a:name="com.mrepol742.webvium.activity.alias.MAY"
            a:enabled="true"
            a:exported="true"
            a:targetActivity="com.mrepol742.webvium.Webv">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                a:name="android.app.shortcuts"
                a:resource="@xml/s" />
        </activity-alias>

        <activity-alias
            a:name="com.mrepol742.webvium.activity.alias.PRE"
            a:enabled="false"
            a:exported="true"
            a:label="@string/j35"
            a:targetActivity="com.mrepol742.webvium.Pret">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
                <category a:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>

        </activity-alias>

        <meta-data
            a:name="android.webkit.WebView.MetricsOptOut"
            a:value="true" />

        <receiver a:name="com.mrepol742.webvium.Pack">
            <intent-filter>
                <action a:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            a:name="com.mrepol742.webvium.Boot"
            a:exported="true"
            a:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action a:name="android.intent.action.BOOT_COMPLETED" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            a:name="com.mrepol742.webvium.Devi"
            a:label="@string/p20"
            a:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                a:name="android.app.device_admin"
                a:resource="@xml/z" />
            <intent-filter>
                <action a:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <category a:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            a:name="com.mrepol742.webvium.Save"
            a:exported="false"
            a:foregroundServiceType="dataSync"
            a:label="@string/l4" />
        
        <service
            a:name="com.mrepol742.webvium.Clip"
            a:exported="false"
            a:label="@string/x8" />

        <service
            a:name="com.mrepol742.webvium.Noti"
            a:exported="false"
            a:label="@string/m6" />

        <service
            a:name="com.mrepol742.webvium.Upda"
            a:label="@string/n21"
            tools:ignore="ExportedService" />

        <service
            a:name="com.mrepol742.webvium.Back"
            a:label="@string/n22"
            tools:ignore="ExportedService" />
        
    </application>

</manifest>
