<!--
  ~
  ~ Copyright (c) 2021 Melvin Jones Repol (mrepol742.github.io). All rights reserved.
  ~
  ~ License under the GNU General Public License, Version 3.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.gnu.org/licenses/gpl-3.0.en.html
  ~
  ~ Unless required by the applicable law or agreed in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:a="http://schemas.android.com/apk/res/android"
    package="com.mrepol742.webvium"
    a:installLocation="auto">

    <application a:vmSafeMode="true">

        <!-- EXPRIREMENT-->
        <activity
            a:name="com.mrepol742.webvium.EXPI" a:process=":expi"
            a:configChanges="keyboardHidden|orientation|screenSize"
            a:exported="false"
            a:windowSoftInputMode="stateHidden" />

        <activity-alias
            a:name="com.mrepol742.webvium.activity.alias.EXPI"
            a:exported="true"
            a:label="@string/x60"
            a:targetActivity="com.mrepol742.webvium.EXPI">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />

                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            a:name="com.mrepol742.webvium.activity.alias.LOGC"
            a:exported="true"
            a:label="@string/x54"
            a:targetActivity="com.mrepol742.webvium.LOGC">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />

                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
   </application>
</manifest>